<script>
document.addEventListener('DOMContentLoaded', () => {
    const submitButton = document.querySelector('#generate');
    const form = document.querySelector('#goal_form');
    const detailedGoals = document.querySelector('#detailed_goals');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        submitButton.disabled = true;
        detailedGoals.innerHTML = 'Loading...';

        const response = await fetch('/tasks', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ initial_goal: document.querySelector('#initial_goal').value })
        }).then(async (response) => {
            if (response.ok) {
                const data = await response.json();
                detailedGoals.innerHTML = data['generated_tasks_html'];
                console.log(data);
            } else {
                detailedGoals.innerHTML = 'Something went wrong. Please try again later.';
            }
            submitButton.disabled = false;
        },
        (error) => {
            detailedGoals.innerHTML = 'Something went wrong. Please try again later. Technical details: promise rejected.';
        });
 });
});
</script>

<header>
  <h2>ADHDGpt</h2>
  <h3>Executive function as a service</h3>
</header>

<main>
<section id="ideas">
<%= form_with id: "goal_form" do |form| %>
    <%= form.text_field :initial_goal, placeholder: 'e.g. Clean my bathroom' %>
    <%= form.submit "Generate", id: "generate" %>
<% end %>
</section>

<section id="results">
<div id="detailed_goals" class="width: 100%"></div>
</section>
</main>

